.card {
    margin-bottom: 3rem;
    transition: var(--transition)
}

.card h3 {
    margin-top: 1rem;
    opacity: .7;
}

.card:hover {
    transform: scale(1.1);
}

img {
    width: 300px;
    border-radius: 10px;
    opacity: .8;
    transition: var(--transition);
}

img:hover {
    box-shadow: 0 8px 25px 2px #cbcfd173;
}

button {
    margin: 1.5rem;
    padding: .4rem;
    border-radius: 5px;
    border: none;
    background-color:#3a31bae2;
    color: rgba(245, 245, 245, 0.832);
    transition: var(--transition);
}

button:not([disabled]):hover {
    background-color: #544ad9e7;
    transform: scale(1.1);
}

button:disabled {
    background-color: #73718bb5;
}