.listContainer {
    display: flex;
    gap: 2.5rem;
    justify-content: center;
    padding: 3rem;
}

.listContainer img {
    width: 160px;
}

.listContainer h3 {
    max-width: 10rem;
}

h2 {
    padding-top: 2rem;
    margin-bottom: 1rem;
}



.watchListPanel {
    position: sticky;
    top: 0;
    background-color: var(--dk-bg);
    z-index: 1;
}

.watchListPanel h3 {
    max-height: 23px;
    text-overflow: ellipsis;
    overflow: hidden;
}